body,
html {
    background-color: #282E34;
    height: 100%;
    width: 100%;
}

.full-container {
    height: 98%;
    width: 98%;
}

.row {
    height: 100%;
}

.form-column {
    height: 100%;
    display: flex;
    align-items: center;
}

.change_password_form {
    background: white;
    border: 1px solid red;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.textfield {
    padding: 5px;
}

.error {
    color: red;
}