body,
html {
    background: url("../white_background.jpg") center center fixed no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.search-people {
    position: absolute;
    right: 20px;
}

.full-container {
    height: 98%;
    width: 98%;
}

.row {
    height: 100%;
}

.form-column {
    height: 100%;
    display: flex;
    align-items: center;
}

.change_password_form {
    background: lightgray;
    border: 1px solid red;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.textfield {
    padding: 5px;
}

.error {
    color: red;
}

@media screen and (max-width: 768px) {
    .search-people {
        position: static;
    }
}