body,
html {
    background: url("../texture-background.jpg") center center fixed no-repeat;
    background-size: cover;
}

.search-people {
    position: absolute;
    right: 10px;
}

.dropdown {
    margin-right: 0px;
}

.username-text {
    text-transform: capitalize;
}

.main-container,
.full-container {
    width: 100%;
}

.name-heading {
    font-size: 16pt;
    letter-spacing: 5px;
    font-family: 'Arvo', serif;
    color: lightgreen
}

.register-links {
    right: 0px;
}

.name {
    text-transform: capitalize;
}

.heading {
    font-size: 30pt;
    letter-spacing: 10px;
    font-family: 'Arvo', serif;
    color: white
}

.search-row {
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
}

input[type="text"] {
    padding: 20px;
}

.search {
    padding: 10px;
    border-radius: 6px;
    width: 100%;
}

.search-button-row {
    padding-top: 50px;
    padding-bottom: 50px;
}

.search-button {
    margin-left: -80px;
}

.search-button:nth-of-type(1) {
    border: 20px;
    padding: 10px;
    margin-left: 0px;
}

.error-row {
    color: red;
    font-weight: 600;
    font-size: 12pt;
}

.category-columns {
    font-size: 14pt;
}

.info-columns {
    font-size: 12pt;
}

.username-info {
    text-transform: capitalize;
}

.modal-body {
    background: rgb(218, 218, 248);
}

.profile-image {
    border-radius: 50%;
}

.name {
    font-family: 'Arvo', serif;
    letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
    .search-people {
        position: static;
    }
}