body,
html {
    background: url("../white_background.jpg") center center fixed no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.full-container {
    height: 100%;
    width: 100%;
}

.intro-container {
    color: black;
}

.container-row {
    padding-top: 40px;
    padding-bottom: 40px;
}

.intro {
    font-family: 'Pacifico', cursive;
    letter-spacing: 5px;
    font-size: 48pt;
}

.main-container {
    max-width: 320px;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 20px 20px 30px;
}

.login-form {
    padding: 10px 0px 30px 0px;
    border-radius: 20px;
}

.heading-row {
    padding-top: 20px;
    font-family: 'Chela One', cursive;
    letter-spacing: 10px;
}

.field-rows {
    padding: 5px 10px 10px 5px;
    font-weight: 600;
}

.button-row {
    padding: 15px 0px 2px 0px;
}

.error-row {
    color: red;
}

@media screen and (max-width: 768px) {
    .intro {
        font-size: 40pt;
        font-family: 'Pacifico', cursive;
        letter-spacing: 0px;
    }
}