body {
    /* background-color: rgb(40, 46, 52);
    width: 100%;
    overflow-x: hidden; */
    background: url("../white_background.jpg") center center fixed no-repeat;
    background-size: cover;
    height: 100%;
}

.full-container {
    height: 100%;
}

.search-people {
    position: absolute;
    right: 20px;
}

.name-heading {
    font-size: 14pt;
    letter-spacing: 3px;
    font-family: 'Arvo', serif;
    color: black;
}

.heading {
    font-size: 32pt;
    letter-spacing: 10px;
    font-family: 'Arvo', serif;
    color: darkred;
}

.brand-name {
    text-transform: uppercase;
}

.name-column {
    font-weight: 600;
    color: black;
    padding: 3px;
}

.image-column {
    color: black;
    padding: 3px;
    width: 200px;
    height: 200px;
}

.product-images {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.error {
    color: red;
    font-size: 12pt;
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }
    .image-column {
        object-fit: none;
    }
    .search-people {
        position: static;
        text-align: none;
    }
    .search-button {
        width: 100%;
    }
}