{% extends 'base.html' %} {% load staticfiles %} {% block title %} OryxRating &nbsp; | &nbsp; Change Password {% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}"> {% endblock head %} {% block brand-icon %}
<a href="{% url 'index' %}" class="navbar-brand"><img src="{% static 'OryxLogo2.png' %}" class="logo" width=27 height=27>
</a>
{% endblock brand-icon %} {% block body %}
<div class="container-fluid full-container">
    <div class="row text-center">
        <div class="col-lg-4">
        </div>

        <div class="col-lg-4 form-column text-center">
            <form class="form-control change_password_form text-center" method="POST">
                {% csrf_token %}
                <b><h3>Change Password</h3></b>
                <div class="error alert-danger" id="error">

                </div>
                <input type="password" class="textfield" id="password" placeholder="New Password" name="password">
                <p></p>
                <input type="password" class="textfield" id="confirm_password" placeholder="Confirm Password">
                <p></p>
                <input type="submit" class="btn btn-danger" value="Change Password" onclick="return Validation()">
            </form>
        </div>

        <div class="col-lg-4"></div>
    </div>

</div>

<script>
    function Validation() {

        if (document.getElementById('password').value.length < 8) {
            document.getElementById('error').innerHTML = 'Password must be of atleast 8 characters.';
            document.getElementById('password').focus();
            return false;
        }

        if (document.getElementById('password').value != document.getElementById('confirm_password').value) {
            document.getElementById('error').innerHTML = 'Passwords Donot Match';
            document.getElementById('password').focus();
            return false;
        }

        return true;
    }
</script>

{% endblock body %}