{% extends 'base.html' %} {% load staticfiles %} {% block title %} Change Password {% endblock title %} {% block head %}
<link rel="stylesheet" href="{% static 'css/forgot_password.css' %}"> {% endblock head %} {% block brand-icon %}
<a href="{% url 'index' %}" class="navbar-brand"><img src="{% static 'OryxLogo2.png' %}" class="logo" width=27 height=27>
</a>
{% endblock brand-icon %} {% block body %}
<div class="container-fluid full-container">
    <div class="row p-5 text-center">
        <div class="col-lg-12">
            <h3>We have sent you a code on your Email Address. Please verify the code</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-4">
        </div>

        <div class="col-lg-4 form-column text-center">
            <form class="form-control change_password_form text-center" method="POST">
                {% csrf_token %}
                <b><h4>Reset Password</h4></b>
                <div class="row error-row">
                    <div class="col-12">
                        {% if code_error %}
                        <span name="error" class="errors">{{ code_error }}</span> {% endif %}
                        <span name="error" class="errors"></span>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-12">
                        <input type="text" class="textfield" id="code" placeholder="Enter The Code" name="code">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-12">
                        <input type="password" class="textfield" id="password" placeholder="New Password" name="password">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-12">
                        <input type="password" class="textfield" id="confirm_password" placeholder="Confirm Password" name="confirm_password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="submit" class="btn btn-danger" value="Change Password" onclick="return Validation()">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-4"></div>
    </div>

</div>

<script>
    function Validation() {

        if (document.getElementsByName('code')[0].value == '') {
            document.getElementsByName('error')[0].innerHTML = 'Invalid Code';
            document.getElementsByName('code')[0].style.border = '2px solid red'
            return false;
        } else {
            document.getElementsByName('code')[0].style.border = '1px solid black';
        }

        if (document.getElementsByName('password')[0].value == '') {
            document.getElementsByName('error')[0].innerHTML = 'Please provide a new Password';
            document.getElementsByName('password')[0].style.border = '2px solid red';
            return false;
        } else {
            document.getElementsByName('password')[0].style.border = '1px solid black';
        }

        if (document.getElementsByName('confirm_password')[0].value == '') {
            document.getElementsByName('error')[0].innerHTML = 'Confirm the Password';
            document.getElementsByName('confirm_password')[0].style.border = '2px solid red';
            return false;
        } else {
            document.getElementsByName('confirm_password')[0].style.border = '1px solid black';
        }

        if (document.getElementsByName('password')[0].value.length < 8) {
            document.getElementsByName('error')[0].innerHTML = 'Password must be atleast 8 characters';
            document.getElementsByName('password')[0].style.border = '2px solid red';
            return false;
        } else {
            document.getElementsByName('password')[0].style.border = '1px solid black';
        }


        if (document.getElementsByName('password')[0].value != document.getElementsByName('confirm_password')[0].value) {
            document.getElementsByName('error')[0].innerHTML = 'Passwords donot match';
            document.getElementsByName('password')[0].style.border = '2px solid red';
            document.getElementsByName('confirm_password')[0].style.border = '2px solid red';
            return false;
        } else {
            document.getElementsByName('password')[0].style.border = '1px solid black';
            document.getElementsByName('confirm_password')[0].style.border = '1px solid black';
        }



        return true;
    }
</script>

{% endblock body %}