{% extends 'base.html' %} {% load staticfiles %} {% block title %} Oryx &nbsp; | &nbsp; Log In {% endblock title %} {% block head %}
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endblock head %} {% block brand-icon %}
<a href="{% url 'home:home' %}" class="navbar-brand"><img src="{% static 'OryxLogo2.png' %}" class="logo" width=27 height=27>
</a>
{% endblock brand-icon %} {% block navbar-items %}
</ul>
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'signup:signup' %}">Sign Up</a>
    </li>
</ul>

{% endblock navbar-items %} {% block body %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <p id="modal-text"><input type="text" placeholder="Enter your Email address" name="emailid" class="form-control"></p>
                    <input type="hidden" name="forgot-hiddenfield">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Reset Password"></button>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid full-container">
    {% if forgot_error %}
    <script>
        alert("There is no such email address registered")
    </script>
    {% endif %}

    <div class="container intro-container">
        <div class="row container-row">
            <div class="col col-sm-12 container-column">
                <h1 class="text-center intro">OryxRating</h1>
            </div>
        </div>
    </div>


    <div class="container main-container text-center">

        <div class="row heading-row">
            <div class="col-lg-12 col-sm-12">
                <h3 class="heading">Log In</h3>
            </div>
        </div>

        <form action="." method="POST" class="form-group login-form">
            {% csrf_token %} {% if error %}
            <div class="row alert-danger error-row">
                <div class="col-sm-12">
                    {{ error }}
                </div>
            </div>
            {% endif %}

            <div class="row field-rows">

                <div class="col-lg-12 col-sm-12">
                    <input type="text" class="textfield form-control text-center" placeholder="Username" id="username" name="username">
                </div>
            </div>

            <input type="hidden" name="login-hiddenfield">

            <div class="row field-rows text-center">

                <div class="col-lg-12 col-sm-12">
                    <input type="password" class="textfield form-control text-center" placeholder="Password" id="password" name="password">
                </div>
            </div>

            <div class="row button-row">
                <div class="col-lg-12 col-sm-12">
                    <input type="submit" class="btn btn-block btn-primary" value="Log In">
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-lg-12">
                    <u><a href="#" data-toggle="modal" data-target="#exampleModal">Forgot Password ?</a></u>
                </div>
                <p></p>
            </div>
        </form>
    </div>
</div>

{% endblock body %}