{% extends 'base.html' %} {% load staticfiles %} {% block title %} Products {% endblock title %} {% block head %}
<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{% static 'css/users.css' %}"> {% endblock head %}{% if user.is_authenticated %} {% block brand-icon %}
<a href="{% url 'home:home' %}" class="navbar-brand"><img src="{% static 'OryxLogo2.png' %}" class="logo" width=27 height=27>
</a> {% endblock brand-icon %} {% endif %} {% block navbar-items %} {% if user.is_authenticated %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="username-text">{{ user.username }}</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'profile:profile' user.username %}">Profile</a>
        <a class="dropdown-item" href="{% url 'profile:change_password' %}">Change Password</a>
    </div>
</li>
<li class="nav-item">
    <form class="form-inline my-2 my-lg-0 search-people" method="POST">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search People" id="people-search" name="people-search">
        <input type="hidden" name="people-hiddenfield">
        <input type="submit" class="btn btn-success search-button" value="Search">
    </form>
</li>

{% else %}
</ul>
<ul class="navbar-nav register-links">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login:login' %}">Log In</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'signup:signup' %}">Sign Up</a>
    </li>
</ul>
{% endif %} {% endblock navbar-items %}{% block body %}
<div class="container-fluid full-container">
    <div class="row heading-row text-center p-4">
        <div class="col-lg-12">
            <h1 class="heading-title">Search Results</h1>
        </div>
    </div>

    {% if error %}
    <div class="row text-center">
        <div class="col-lg-12">
            <h1>{{ error }}</h1>
        </div>
    </div>
    {% endif %} {% for user in user_list %}
    <hr>
    <div class="row people-row p-2">
        <div class="col-4"></div>
        <div class="col-4 dp-column">
            {% if user.info.profile_pic %}
            <img src="{{ user.info.profile_pic.url }}" alt="Profile Pic" class="dp"> {% else %}
            <i class="material-icons icon-image">person</i><br> {% endif %}
        </div>
        <div class="col-4"></div>

    </div>

    <div class="people-row row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <a href="{% url 'profile:profile' user.username %}" class="user-info-text">{{ user.username }}</a>
            <p>Email : {{ user.email }}</p>
            <p>Comments : {{ count }}

            </p>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <hr> {% endfor %}
</div>

{% endblock body %}